@import url('https://fonts.googleapis.com/css?family=Merienda:700|Montserrat');
body {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    padding: 0;
    background: url('../images/background.jpg') no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}
a {
    color: inherit;
    text-decoration: none;
}
header {
    flex: 0 1 350px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 50px;
    background-color: #11111155;
    color: rgb(235, 224, 221);
    justify-content: center;
}
header div.logo-title {
    font-family: Merienda, cursive;
}
header div.logo-title h1 {
    margin-bottom: 0;
}
header div.logo-title h3 {
    margin-top: 0;
    padding-right: 100px;
    text-align: right;
}
header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}
header nav div.menu-item {
    flex: 0 1 auto;
    display: flex;
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    padding: 5px 0;
    line-height: 1.3rem;
}
header nav div.menu-item:hover {
    cursor: pointer;
    padding-left: 5px;
    font-size: 1.3rem;
}
header nav div.menu-item.is-active {
    padding-left: 5px;
    font-size: 1.3rem;
}
main {
    flex: 1 1 auto;
}
footer {
    position: fixed;
    bottom: 0;
    right: 0;
}
footer p {
    font-family: Montserrat, sans-serif;
    font-size: 0.8rem;
    margin: 5px;
    color: rgb(235, 224, 221, 0.5);
}